electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
win_code_sign_mirror=https://npmmirror.com/mirrors/win-code-sign/
nsis_mirror=https://npmmirror.com/mirrors/nsis/
nsis_resources_mirror=https://npmmirror.com/mirrors/nsis-resources/
shamefully-hoist=true
node-linker=hoisted
manage-package-manager-versions=true
package-manager-strict=false
ignore-scripts=false
onlyBuiltDependencies[]=electron-winstaller
